* {
  box-sizing: border-box;
}

body {
  font: 400 14px/1 'PT Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1 {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

}

.btn {
  font-family: 'PT Sans', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  padding: 16px 30px;
}

.btn-default {
  background-color: #fff;
  box-shadow: 0px 4px 20px #0F064C;
  color: #0F064C;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1114px;
  padding: 0 15px;
  margin: auto;
}

.header {
  padding: 40px 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.main-header-nav {
  color: #fff;
  font-weight: 700;
  margin-left: 66px;
}

.main-header-nav a + a,
.info-header-nav a + a{
  margin-left: 30px;
}

.info-header-nav {
  color: rgba(255, 255, 255, 0.8);
  margin-left: auto;
}

.inner {
  min-height: 100vh;
  background: linear-gradient(89.85deg, #23196F 0.13%, #180D5B 99.88%);
  padding-top: 106px;
}

.inner-call-to-action {
  max-width: 545px; 
  position: relative;
}

.inner-call-to-action::after {
  content:'';
  width: 738px;
  height: 611px;
  background: url('https://github.com/alldsaiw/mail-genius-udemy/blob/main/img/back.png?raw=true') no-repeat;
  position: absolute;
  top: -100px;
  right: -655px;
  z-index: 0;
}

  .inner-title {
    position: relative;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.29;
    color: #FFFFFF;
    margin-top: 55px;
    z-index: 1;
  }

.call-to-action-desc {
  max-width: 383px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  margin-bottom: 55px;
}

.call-to-action-desc >span {
color: #36a7b9;
font-weight: 700;

}

.test-email {
  display: inline-block;
}

.email-not-required {
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.email-not-required span {
   margin-left: 15px;
 }

.inner-services-wrap {
  margin-top: 95px;
  padding-bottom: 87px;
}

.inner-services-title {
  width: 365px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.29;
  color: #fff;
  margin-bottom: 30px;
}

.inner-services-list{
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 164px;
  background: rgba(15, 6, 76, 0.45);
  margin-top: 20px;
}

.list-item:hover {
  background-color:#fff;
  cursor: pointer;
}
